*{
    color: black;
}

div{
    height: 8vh;
    width: 20vw;
    background-color:orange;
    animation-name: example; 
    animation-duration: 4s;
    animation-iteration-count: infinite ;


 }
 
 @keyframes example{
     from {background-color: orange;}
     to {background-color: yellow; }
 }
 
.grid-container{
    display: grid;
    background-color: orange ;
}

.Education{
    grid-column-start: 1;
      grid-column-end: 1;
      font-size: 25px
}

.WorkExperience{
    grid-column-start: 2;
      grid-column-end: 2;
      font-size: 25px
}

.PersonalInformation{
    grid-column-start: 3;
      grid-column-end: 3;
      font-size: 25px
}

body{
    background-image: url("bnana.jfif");
    background-size: 1250px;
}

h1{
    color: green ;
}


