<!doctype html>
<html lang="en" >
    <head>
     <meta name ="viewport" content="width=device - width, initial-scale=1.0">
     <title> HW3 </title>
     <link rel="stylesheet" href="CV2.css">
     <script src="/javascripts/CV.js"></script> 
     
    </head>

    <body onload="myFunction()">
        <div id="h1">saarWeiss</div>
      
   
      <div class="grid-container">
        <div class="Education"> Education </div>
        <div class="WorkExperience"> Work Experience </div>
        <div class="PersonalInformation"> Personal Information </div>
      </div>

    

    <form>
      <label for ="First_Name"> First Name</label>
      <input type="text" id="First_Name" name="First_Name"><br> <br>

      <label for ="Last_Name"> Last Name</label>
      <input type="text" id="Last_Name" name="Last_Name"><br> <br>

      <label for ="Phone Number">Phone Number </label>
      <input type="text" id="Phone Number" name="Phone Number"><br> <br>

      <lable for ="Comments">Comments</lable><br>
      <textarea name = "comment" id="comment" cols="50" rows="10"></textarea><br><br>
      <input type = "submit"><br>

    </form>

  </body>

</html>


